<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer Contraseña</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .email-container {
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 80%;
      max-width: 500px;
      padding: 30px;
      box-sizing: border-box;
      text-align: center;
    }

    h1 {
      color: #621161;
      font-size: 28px;
      margin-bottom: 20px;
    }

    h2 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;
      color: #555;
    }

    .reset-link {
      display: inline-block;
      text-decoration: none;
      color: #ffffff;
      background-color: #007bff;
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 18px;
      transition: background-color 0.3s;
    }

    .reset-link:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <div class="email-container">
    <h1>CAMBIO DE CONTRASEÑA</h1>
    <p>Has una solicitud para restablecer tu contraseña.</p>
    <p>haz clic en el siguiente enlace:</p>
    <a href="{{resetLink}}" class="reset-link" target="_blank">Cambiar la Contraseña</a>
  </div>
</body>

</html>
